.cartbox {
    background-color: #009e7f;
    width: 100px;
    position: absolute;
    top: 70%;
    cursor: pointer;
}
.price{
    color:#009e7f;

}


@media only screen and (max-width: 600px) {


    .cartbox{
        top:auto;
    }

    .price {
        border-radius: 15px;
        float:right;
    }
    
    .pricebox{
    
       float:left;
    }
    
    .cartbox {
        width: 90%;
        top: auto; 
        bottom: 0;
        right: 5%;
        border-radius: 15px;
    
    }
}