.productinfo{
    border-left: 1px solid #eaeaea;
}

button.buy{
    background: #009e7f;
    color: white;
}
.relatedproduct{
    margin:50px auto;
}
/* .relatedproduct .cardsection{
    margin:0 5px;
} */