


@font-face {
  font-family: 'B-Nazanin';
  src: local('B-Nazanin'), url(./font/B-NAZANIN.TTF) format('truetype');
}


body {
  background-color: #f9f9f9 !important;
  margin: 0;
  font-weight: bold;
  font-family: B-Nazanin !important;

}